@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&display=swap');

body {
    background: url(../media/emul.jpg) no-repeat center/cover;
    height: 100vh;
    font-family: 'Asap Condensed', sans-serif;
}
#def {
    color: cornsilk;
    margin: 15px;
    padding: 10px;
    text-decoration: underline;
}
p {
    color: cornsilk;
    margin: 15px;
    padding: 10px;
    font-size: 1.3rem;
}

.video {
    margin: 20px;
}

/* ******************* mise en place du footer***************** */

.iconEtcopy {
    display: flex;
    margin: 20px;
    padding: 10px;

}
.icon3 img {
    width: 50px;
    transition: 0.3s;
}
.icon3 img:hover {
    transform: scale(1.3);
}
.icon3bis img {
    width: 43px;
    transition: 0.3s;
}
.icon3bis img:hover {
    transform: scale(1.3);
}
#copyright {
    color: wheat;
    padding: 10px;
}
