body {
    background: url(../media/bg.png) no-repeat bottom/cover;
    height: 100vh;
    text-align: center;
    
}
h1 {
    background: rgba(5, 212, 219, 0.705);
    width: 350px;
    color: rgb(232, 245, 255);
    margin-top: 20px;
    padding: 8px;
    display: inline; 
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px #0000006b;
}
.presentation {
    font-size: 1.2rem;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    color: rgb(232, 245, 255) ;
}

/* ************* listes ( onglets de navigation) ******************* */

li {
    list-style-type: none;
    padding: 2px;
    margin: 5px;
    background: rgba(5, 212, 219, 0.712);
    width: 30%;
    font-size: 1.5rem;
    border: 1px solid rgb(154, 154, 250);
    border-radius:10px;
    transition: 0.3s;
    box-shadow: 2px 2px 5px 0px #0000006b;
}
li:hover {
    background: rgb(14, 178, 184);
    transform: scale(1.1);
    cursor: pointer;
}

li a {
    color: rgb(232, 245, 255);
    text-decoration: none;
}
/* **************** style du bas de page***************** */
#copyright {
    text-align: left;
    
}
.icon img {
    width: 50px;
    position: absolute;
    top: 465px;
    left: 1150px;
    transition: 0.3s;
}
.icon img:hover {
    transform: scale(1.3);
}
