@import url('https://fonts.googleapis.com/css2?family=Tajawal&display=swap');

body {
    background: url(../media/bg-console.jpg) no-repeat center/cover fixed;
    height: 100vh;
    font-family: 'Tajawal', sans-serif;
    color: #fff;
    
}
#titre {
    background: rgba(171, 171, 230, 0.63);
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
    transform: translateX(50%);
}

/* ************bloc images console + listes ****************** */
.console {
    background: rgba(171, 171, 230, 0.63);
    margin: 40px;
    padding: 5px;
    text-align: center;
    width: 35%;
    font-size: 2rem;
    transform: translateX(85%);
    border-radius: 10px;
    box-shadow: 2px 3px 16px 1px #8c8991a8;
}
.list {
    text-decoration: underline;
    font-weight: bold;

}

/* **************style du bas de page*************** */

#icon-copy {
    display: flex;
    margin-bottom: 20px;
    padding: 0 15%;
    
}
.icon2 img {
    width: 50px;
    transition: 0.3s;
}
.icon2 img:hover {
    transform: scale(1.3);
}
.icon2bis img {
    width: 50px;
    transition: 0.3s;
}
.icon2bis img:hover {
    transform: scale(1.3);
}
#copyright {
    color: rgb(48, 46, 42);
    padding: 10px;
}


